@font-face{
  font-family: 'Gilroy-Regular';
  font-weight: 400;
  font-style: normal;
  src: local('Gilroy-Regular'),
       url('../fonts/Gilroy-Regular.woff2') format('woff2'),
       url('../fonts/Gilroy-Regular.woff') format('woff');
  font-display: swap;
}

@font-face{
  font-family: 'Gilroy-Medium';
  font-weight: 500;
  font-style: normal;
  src: local('Gilroy-Medium'),
       url('../fonts/Gilroy-Medium.woff2') format('woff2'),
       url('../fonts/Gilroy-Medium.woff') format('woff');
  font-display: swap;
}

@font-face{
  font-family: 'Gilroy-Semibold';
  font-weight: 600;
  font-style: normal;
  src: local('Gilroy-Semibold'),
       url('../fonts/Gilroy-Semibold.woff2') format('woff2'),
       url('../fonts/Gilroy-Semibold.woff') format('woff');
  font-display: swap;
}

@font-face{
  font-family: 'Gilroy-Bold';
  font-weight: 700;
  font-style: normal;
  src: local('Gilroy-Bold'),
       url('../fonts/Gilroy-Bold.woff2') format('woff2'),
       url('../fonts/Gilroy-Bold.woff') format('woff');
  font-display: swap;
}

@font-face{
  font-family: 'Unbounded-Light';
  font-weight: 300;
  font-style: normal;
  src: local('Unbounded-Light'),
       url('../fonts/Unbounded-Light.woff2') format('woff2'),
       url('../fonts/Unbounded-Light.woff') format('woff');
  font-display: swap;
}

@font-face{
  font-family: 'Unbounded-Regular';
  font-weight: 400;
  font-style: normal;
  src: local('Unbounded-Regular'),
       url('../fonts/Unbounded-Regular.woff2') format('woff2'),
       url('../fonts/Unbounded-Regular.woff') format('woff');
  font-display: swap;
}

@font-face{
  font-family: 'Unbounded-Medium';
  font-weight: 500;
  font-style: normal;
  src: local('Unbounded-Medium'),
       url('../fonts/Unbounded-Medium.woff2') format('woff2'),
       url('../fonts/Unbounded-Medium.woff') format('woff');
  font-display: swap;
}

@font-face{
  font-family: 'Unbounded-Bold';
  font-weight: 700;
  font-style: normal;
  src: local('Unbounded-Bold'),
       url('../fonts/Unbounded-Bold.woff2') format('woff2'),
       url('../fonts/Unbounded-Bold.woff') format('woff');
  font-display: swap;
}




